<template lang="">
  <div>
    <h1>Создание новой анкеты</h1>
    <FormPerson />
  </div>
</template>

<script>
import FormPerson from "../components/FormPerson.vue";

export default {
  components: {
    FormPerson,
  },
};
</script>
