<template lang="">
  <div>
    <h1>Изменить анкету</h1>
    <FormPerson :person="person" />
  </div>
</template>

<script>
import FormPerson from "../components/FormPerson.vue";

export default {
  computed: {
    person() {
      return this.$store.getters.personById(+this.$route.params.id);
    },
  },
  components: {
    FormPerson,
  },
};
</script>
