<template lang="">
  <form @submit.prevent="submitHandler">

    <div class="form-group mb-4">
      <label for="fio">ФИО</label>
      <input
        required
        v-model="fio"
        type="text"
        class="form-control"
        id="fio"
        placeholder="ФИО"
      />
    </div>

    <div class="form-group mb-4">
      <label for="birthdate">Дата рождения</label>
      <input
        required
        v-model="birthDate"
        type="date"
        class="form-control"
        id="birthdate"
        placeholder="Дата рождения"
      />
    </div>

    <div class="form-group mb-4">
      <label for="description">Описание</label>
      <textarea
        class="form-control"
        id="description"
        v-model="description"
      ></textarea>
    </div>

    <div class="row">
      <div class="col-auto">
        <button class="btn btn-primary" type="submit">Сохранить</button>
      </div>

      <div class="col-auto">
        <router-link to="/" class="btn btn-danger">Отмена</router-link>
      </div>
    </div>
    
  </form>
</template>

<script>
export default {
  name: "FormPerson",
  props: {
    person: {
      type: Object,
      required: false,
    },
  },
  data: () => ({
    fio: "",
    birthDate: null,
    description: "",
  }),
  created() {
    if (this.person) {
      this.fio =
        this.person.firstName +
        " " +
        this.person.lastName +
        " " +
        this.person.middleName;

      this.description = this.person.description;
      this.birthDate = this.person.birthDate;
    }
  },
  computed: {
    firstName: function () {
      return this.fio.split(" ")[0] ?? "";
    },
    lastName: function () {
      return this.fio.split(" ")[1] ?? "";
    },
    middleName: function () {
      return this.fio.split(" ").slice(2).join(" ") ?? "";
    },
  },
  methods: {
    submitHandler() {
      
      const person = {
        firstName: this.firstName,
        lastName: this.lastName,
        middleName: this.middleName,
        birthDate: this.birthDate,
        description: this.description,
      };

      if (this.person) {
        this.$store.dispatch("updatePerson", { ...person, id: this.person.id});
      } else {
        this.$store.dispatch("createPerson", {...person, id: Date.now()});
      }

      this.$router.push("/");
    },
  }
};
</script>