<template lang="">
  <header class="d-flex p-2 mb-4">
    <div class="container">
      <router-link to="/" class="btn">Главная</router-link>
      <router-link to="/create" class="btn">Добавить запись</router-link>
    </div>
  </header>
</template>

<script>
export default {};
</script>
