<template lang="">
  <transition name="fade">
  <div v-if="isVisible" class="modal fade show" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Удаление записи</h5>
          <button
            type="button"
            class="btn"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Запись будет удалена. Уверены?</p>
        </div>
        <div class="modal-footer">
          <button @click="" type="button" class="btn btn-primary">Ок</button>
          <button
            @click=""
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Отмена
          </button>
        </div>
      </div>
    </div>
  </div>
</transition>
</template>

<script>
export default {
  name: "Modal",
  data: () => ({
    isVisible: false,
  }),
  methods: {
    open() {
      this.isVisible = true;
    },

    close() {
      this.isVisible = false;
    },
  },
};
</script>

<style></style>
